<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head th:replace="plantilla/template::head"></head>
    <body>
        
        <header th:replace="plantilla/template::header"></header>
        
        <div th:replace="plantilla/template::div"></div>
        
        <footer th:replace="plantilla/template::footer"></footer>
        
    </body>
</html>
